 .accordion{
    background: #fff;
    border: 1px solid #cdcdcd;
    margin: 4px 0;
    display:flex;
    flex-flow:nowrap column;
}

.card-wrapper{
  height: 120px;
  display: flex;
  .thumbnail{
    width: 120px;
    height:120px;
    img{
      width: 100px;
      height: 100px;
    }
  }
}

button{
  margin: 10px 0;
  width: 100%;
  height: 18px;
 display: flex;
border: none;
justify-content: center;
 
}
.icon{
  width:12px;
  height:12px;
  line-height: 12px;
  align-items: center;
  font-style: normal;
  margin:auto;
 &:before{
   margin:auto;
 }
   &.arrow-up{
     &:before{
      display: block;
      content:'\0025B2';
     }
  }
   &.arrow-down{
     &:before{
       display: block;
        content:'\0025BC';
   
     }
    
  }
}