<div class="accordion">
  <div class="card-wrapper">
      <div class="thumbnail"><img src="./assets/excavator.svg" ></div>
      <div class="thumbnail"><img src="./assets/bulldozer.svg" ></div>
      <div class="thumbnail"><img src="./assets/grader.svg"></div>
      <div class="thumbnail"><img src="./assets/wheel-loader.svg" ></div>
      <div class="thumbnail"><img src="./assets/ctl-6way-blade.svg" ></div>
      <div class="thumbnail"><img src="./assets/heavy-machinery.svg" ></div>
  </div>
  
  <button><i class="icon arrow-up"></i></button>
</div>
<div class="accordion">
  <button><i class="icon arrow-down"></i></button>
</div>
<div class="accordion">
  <button><i class="icon arrow-up"></i></button>
</div>
<div class="accordion"> 
  <button><i class="icon arrow-down"></i></button>
</div>