<header>
  header
</header>
<div class="wrapper">
  <nav class="sidebar-menu">
    <ul>
      <li>menu 1</li>
      <li>menu 1</li>
      <li>menu 1</li>
    </ul>
  </nav>
  <div class="content">
    <h3 class="content-title">Menu 1</h3>
    <div class="container">
      <div class="list-header-wrapper">
        <button class="btn-prev">&lsaquo;</button>
        <div class="list-header">
          <div>Excavator</div>
          <div>Dozer</div>
          <div>Motor Grader</div>
          <div>CTL - Grader Blade</div>
          <div>CTL - 6 way Blade</div>
          <div>CTL - Box Blade</div>
        </div>
        <button class="btn-next">&rsaquo;</button>
      </div>
      <app-accordion></app-accordion>
    </div>
  </div>
</div>
